html{
    scroll-behavior: smooth;
}

.roundCorners{
    border-radius: 25px;
    background: #0F007B;
    padding: 20px;
}

.bgColor{
    background-color: #0F007B;
}

.primaryColor{
    color: #0F007B;
}

.bgImage{
    background-image: url('/img/bgCode.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}